// Переменные, миксины, функции
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";

// CSS-файлы библиотек
@import "vendor/libs";

// Основное
@import "base/fonts";
@import "base/general";

// БЭМ-блоки
@import "../blocks/modules";

h1 {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
h3 {
    font-family: Roboto, Arial;
    font-weight: 700;
    font-style: bold;
}
h4 {
    font-family: Roboto, Arial;
    font-weight: 400;
}
h5 {
    font-family: Roboto, Arial;
    font-weight: 300;
}