.advantages {
    min-height: 530px;
    &__item {
        display: grid;
        grid-template-columns: 64px 450px;
        grid-template-rows: 15px 39px;
        column-gap: 16px;
        img {
            grid-row: 1 / 3;
        }
        &-title {
            font-family: Roboto;
            font-size: 16px;
            line-height: 22px;
            font-weight: 700;
            color: #ec644b;
        }
        &-descr {
            font-family: Roboto;
            margin-top: 10px;
            font-size: 14px;
            font-weight: 300;
            color: #3a3a3a;
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 530px);
        row-gap: 35px;
        column-gap: 62px;
    }
    &__title {
        padding-top: 60px;
        padding-bottom: 30px;
    }
}