.btn {
    border-radius: 26px;
    border: 0px;
    font-family: Roboto;
    background-color: #ec644b;
    text-transform: uppercase;
    color: #ffffff;
    height: 45px;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    cursor: pointer;
    transition: opacity .3s;
    &_small {
        width: 160px;
    }
    &_med {
        width: 180px;
    }
    &_big {
        font-size: 15px;
        line-height: 17px;
        font-weight: 700;
        width: 230px;
        height: 57px;
    }
    &:hover {
        opacity: .85;
    }
}
.divider {
    margin: 0 auto;
    width: 148px;
    height: 1px;
    background-color: #ec644b;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 102px;
    height: 102px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}