@media (max-width: 1200px){
    .container {
        max-width: 960px;
    }
    .promo {
        &__items {
            grid-template-columns: repeat(4, 230px);
        }
        &__menu {
            &_link {
                font-size: 12px;
            }
        }
        &__phone {
            &-text {
                font-size: 12px;
            }
            &-phone {
                display: flex;
                font-size: 16px;
                justify-content: flex-end;
            }
        }
    }
    .advantages {
        &__item {
            column-gap: 5px;
            grid-template-columns: 64px 400px;
        }
        &__wrapper {
            grid-template-columns: repeat(2, 460px);
            column-gap: 30px;
        }
    }
    .ourwork {
        &__item {
            width: 300px;
            img {
                display: block;
                width: 300px;
            }
        }
    }
    .agent {
        &__subtitle {
            width: 960px;
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(4, 215px);
        }
        &-item {
            &__descr {
                font-size: 13px;
            }
            &__delivery {
                width: 215px;
            }
        }
    }
    .managers {
        &__subtitle {
            width: 960px;
        }
    }
    .principle {
        &__wrapper {
            &-firstline {
                grid-template-columns: repeat(4, 230px);
            }
            &-secondline {
                grid-template-columns: repeat(3, 230px);
            }
        }
    }
    .items {
        .item {
            width: 440px;
        }
    }
}
@media (max-width: 991px){
    .container {
        max-width: 720px;
    }
    .promo {
        min-height: 600px;
        &__header {
            height: 60px;
            padding-top: 8px;
        }
        &__title {
            padding-top: 24px;
            font-size: 22px;
        }
        &__maintitle {
            font-size: 50px;
        }
        &__subtitle {
            font-size: 28px;
        }
        &__logo {
            img {
                display: block;
                width: 60px;
                height: 60px;
            }
        }
        &__divider {
            width: 560px;
            &_dot {
                width: 12px;
                height: 8px;
            }
        }

        &__item {
            &-descr {
                font-size: 13px;
                line-height: 18px;
            }
        }
        &__items {
            grid-template-columns: repeat(4, 170px);
        }
        &__menu {
            &_link {
                font-size: 14px;
            }
        }
        &__phone {
          display: none;
        }
    }
    .advantages {
        &__title {
            padding-top: 30px;
        }
        &__item {
            grid-template-columns: 64px 432px;
        }
        &__wrapper {
            grid-template-columns: 460px;
            justify-content: center;
            row-gap: 50px;
        }
    }
    .ourwork {
        &__title {
            padding-top: 84px;
            padding-bottom: 25px;
        }
        &__subtitle {
            width: 734px;
            font-size: 18px;
        }
        &__item {
            width: 230px;
            img {
                width: 230px;
            }
            &-title {
                font-size: 16px;
            }
        }
    }
    .agent {
        &__subtitle {
            width: 730px;
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(4, 156px);
        }
        &-item {
            &__price {
                font-size: 23px;
            }
            &__descr {
                margin: 10px 0;
            }
            &__delivery {
                font-size: 14px;
            }
        }
        &-item {
            &__descr {
                font-size: 13px;
            }
            &__delivery {
                width: 156px;
            }
        }
    }
    .consultation {
        &-form {
            grid-template-columns: repeat(3, 240px);
            &__btn {
                margin-left: 30px;
            }
        }
    }
    .managers {
        &__subtitle {
            width: 730px;
        }
    }
    .principle {
        &__wrapper {
            &-firstline {
                grid-template-columns: repeat(4, 170px);
            }
            &-secondline {
                grid-template-columns: repeat(3, 170px);
            }
        }
        &__item {
            &-title {
                font-size: 15px;
            }
        }
    }
    .items {
        .item {
            width: 340px;
            &__review {
                font-size: 13px;
            }
        }
    }
    .application {
        &__wrapper {
            width: 720px;
        }
        &__textarea {
            textarea {
                width: 630px;
            }
        }
        &__form {
            &-wrapper {
                width: 720px;
            }
            grid-template-columns: repeat(3, 216px);
        }
        &__input {
            input {
                width: 170px;
            }
        }
    }
}
@media (max-width: 767px){
    .container {
        max-width: 540px;
    }
    .promo {
        min-height: 570px;
        &__close {
            position: absolute;
            top: 0;
            left: 92%;
            display: block;
            color: white;
            font-size: 36px;
            cursor: pointer;
            transition: 0.6s all;
            z-index: 11;
        }
        &__wrapper-aside {
            position: fixed;
            top: 0;
            left: -100%;
            width: 50%;
            height: 100vh;
            padding: 30vh 15px 20px 15px;
            background-color: rgba(0,0,0, .9 );
            transition: 0.6s all;
        }
        &__menu {
            align-items: center;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            &_link {
                font-size: 25px;
            }
            &_item {
                border: none;
                margin-bottom: 30px;
            }
        }
        &__title {
            padding-top: 18px;
            font-size: 18px;
        }
        &__maintitle {
            font-size: 40px;
        }
        &__subtitle {
            font-size: 23px;
            padding-bottom: 12px;
        }
        &__divider {
            width: 450px;
            &_dot {
                height: 7px;
            }
        }
        &__items {
            grid-template-columns: repeat(4, 130px);
        }
        &__item {
            &-descr {
                font-size: 11px;
                line-height: 16px;
            }
        }
        &__phone {
            display: grid;
        }
        &__header {
            justify-content: space-around;
        }
        
    }
    .btn-big {
        width: 210px;
        font-size: 14px;

    }
    .active {
        left: 0;

    }
    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 33px;
        width: 26px;
        height: 12px;
        cursor: pointer;
            span {
            display: block;
			height: 2px;
			width: 20px;
			background-color: #fff;
			margin-bottom: 2px;
			transition: 0.5s all;
        }
    }
    .advantages {
        &__item {
            &:nth-child(8) {
                padding-top: 30px;
             }
        }
    }
    .ourwork {
        &__wrapper {
            flex-direction: column;
            align-content: center;
            flex-wrap: wrap;
        }
        &__title {
            padding-top: 84px;
            padding-bottom: 25px;
        }
        &__subtitle {
            width: 530px;
            font-size: 16px;
        }
        &__item {
            width: 360px;
            img {
                width: 360px;
            }
            &-title {
                font-size: 18px;
            }
        }
    }
    .agent {
        &__subtitle {
            width: 545px;
            font-size: 17px;
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(2, 260px);
            grid-template-rows: repeat(2, 350px);
            row-gap: 24px;
        }
        &__subtitle {
            width: 545px;
            font-size: 19px;
        }
        &-item {
            &__price {
                font-size: 25px;
            }
            &__descr {
                margin: 20px 0;
            }
            &__delivery {
                font-size: 16px;
            }
        }
        &-item {
            &__descr {
                font-size: 15px;
            }
            &__delivery {
                width: 260px;
            }
        }
    }
    .consultation {
        &-form {
            grid-template-columns: repeat(3, 180px);
            &__btn {
                margin-left: 0;
            }
        }
    }
    .managers {
        &__subtitle {
            width: 545px;
            font-size: 17px;
        }
    }
    .principle {
        &__wrapper {
            &-firstline {
                grid-template-columns: repeat(4, 130px);
            }
            &-secondline {
                grid-template-columns: repeat(3, 130px);
            }
        }
        &__item {
            row-gap: 7px;
            &-title {
                font-size: 15px;
                line-height: 14px;
            }
            &-descr {
                padding-top: 10px;
                font-size: 13px;
            }
        }
    }
    .items {
        .item {
            width: 340px;
            &__review {
                font-size: 13px;
            }
            .prev {
                transform: translate(-110%, -60%) scale(0.6, 0.6);
            }
        }
    }
    .item.prev {
        transform: translate(-100%, -60%) scale(0.5, 0.5);
    }
    .item.next {
        transform: translate(0%, -60%) scale(0.5, 0.5);
    }
    .next, .prev {
        .item {
            &__review {
                display: none;
            }
        }
    }
    .application {
        &__wrapper {
            width: 540px;
        }
        &__textarea {
            textarea {
                width: 430px;
                font-size: 11px;
            }
        }
        &__form {
            &-wrapper {
                width: 540px;
            }
            grid-template-columns: repeat(3, 147px);
        }
        &__input {
            input {
                width: 110px;
                font-size: 11px;
            }
        }
    }
   
}
@media (max-width: 575px){
    .container {
        max-width: 100%;
    }
    .promo {
        min-height: 680px;
        &__phone {
            margin: 0 auto;
            grid-template-columns: 140px 50px;
            &-btn {
                display: none;
            }
            &-phone {
                grid-column: 1/2;
                grid-row: 2;
            }
        }
        &__title {
            font-size: 15px;
        }
        &__maintitle {
            font-size: 30px;
        }
        &__subtitle {
            font-size: 19px;
        }
        &__divider {
            width: 280px;
            &_dot {
                height: 4px;
            }
        }
        &__items {
            padding-top: 5px;
            grid-template-columns: repeat(2, 145px);
            justify-content: center;
            &-item {
                margin-bottom: 10px;
            }
        }
        &__btn {
            margin-top: 20px;
           
        }
        &__menu {
            &_link {
                font-size: 18px;
            }
        }
        &__close {
            left: 88%;
        }
    }
    .advantages {
        &__title {
            padding-top: 24px;
            padding-bottom: 16px;
            font-size: 21px;
        }
        &__item {
            grid-template-columns: 58px 220px;
            &-title {
                padding-top: 6px;
                font-size: 12px;
            }
            &-descr {
                font-size: 13px;
                margin-top: 16px;
            }
            &:nth-child(8) {
               padding-top: 84px;
            }
           
           
        }
        &__wrapper {
            grid-template-columns: 280px;
        }
    }
    .ourwork {
        &__title {
            margin-top: 68px;
            padding-bottom: 25px;
            font-size: 21px;
        }
        &__subtitle {
            width: 300px;
            font-size: 15px;
        }
        &__item {
            width: 280px;
            img {
                width: 280px;
            }
        }
    }
    .agent {
        &__subtitle {
            width: 300px;
            font-size: 16px;
            padding-bottom: 20px;
        }
    }
    .price {
        padding: 24px 0;
        &__wrapper {
            grid-template-columns: 280px;
            grid-template-rows: repeat(4, 350px);
            justify-content: center;
            row-gap: 24px;
        }
        &__title {
            font-size: 21px;
        }
        &__subtitle {
            width: 300px;
            font-size: 15px;
            margin-bottom: 16px;
        }
        &-item {
            &__delivery {
                width: 280px;
            }
        }
    }
    .consultation {
        padding-top: 0;
        padding-bottom: 24px;
        &__title {
            font-size: 21px;
        }
        &-form {
            grid-template-columns: 280px;
            grid-template-rows: repeat(4, 47px);
            row-gap: 16px;
            
            &__btn {
                margin-left: 52px;
                grid-column: 1;
            }
        }
    }
    .managers {
        &__title {
            line-height: 30px;
        }
        &__subtitle {
            width: 300px;
            font-size: 16px;
            padding-bottom: 20px;
        }
    }
    .principle {
        padding-top: 24px;
        padding-bottom: 0;
        &__title {
            font-size: 21px;
        }
        &__wrapper {
            margin-top: 16px;
            &-firstline {
                grid-template-columns: 280px;
                grid-template-rows: repeat(4, 180px);
                justify-content: center;
            }
            &-secondline {
                grid-template-columns: 280px;
                grid-template-rows: repeat(3, 180px);
                justify-content: center;
            }
        }
        &__item {
            row-gap: 7px;
            &-title {
                font-size: 15px;
                line-height: 22px;
            }
            &-descr {
                padding-top: 10px;
                font-size: 14px;
            }
        }
    }
    .reviews {
        padding-top: 0;
        &__title {
            font-size: 21px;
        }
        &__subtitle {
            font-size: 16px;
        }
    }
    .items {
        .item {
            width: 280px;
            &__review {
                font-size: 12px;
            }
        }
    }
    .item.prev {
        transform: translate(-74%, -66%) scale(0.4, 0.4);
        opacity: 0;
    }
    .item.next {
        opacity: 0;
        transform: translate(-26%, -66%) scale(0.4, 0.4);
    }
    .arrow {
        margin-top: -115px;
    }
    .application {
        padding-top: 25px;
        height: 320px;
        &__wrapper {
            width: 280px;

        }
        &__textarea {
            grid-column: 1;
            textarea {
                width: 180px;
                font-size: 13px;
            }
        }
        &__form {
            &-wrapper {
                width: 280px;
                height: 310px;
            }
            grid-template-columns: 270px;
            grid-template-rows: repeat(3, 41px) 74px 45px;
            column-gap: 0;
            justify-items: center;
            padding-left: 0;
        }
        button {
            grid-column: 1;
            justify-self: start;
            margin: 0 auto;
        }
        &__input {
            input {
                width: 180px;
                font-size: 13px;
            }
        }
    }
}