@media (max-width: 1200px){
    .container {
        max-width: 960px;
    }
    .promo {
        &__items {
            grid-template-columns: repeat(4, 240px);
        }
        &__menu {
            &_link {
                font-size: 12px;
            }
        }
        &__phone {
            &-text {
                font-size: 12px;
            }
            &-phone {
                display: flex;
                font-size: 16px;
                justify-content: flex-end;
            }
        }
    }
}
@media (max-width: 991px){
    .container {
        max-width: 720px;
    }
    .promo {
        min-height: 600px;
        &__header {
            height: 60px;
            padding-top: 8px;
        }
        &__title {
            padding-top: 24px;
            font-size: 22px;
        }
        &__maintitle {
            font-size: 50px;
        }
        &__subtitle {
            font-size: 28px;
        }
        &__logo {
            img {
                display: block;
                width: 60px;
                height: 60px;
            }
        }
        &__divider {
            width: 560px;
            &_dot {
                width: 12px;
                height: 8px;
            }
        }

        &__item {
            &-descr {
                font-size: 13px;
                line-height: 18px;
            }
        }
        &__items {
            grid-template-columns: repeat(4, 170px);
        }
        &__menu {
            &_link {
                font-size: 14px;
            }
        }
        &__phone {
          display: none;
        }
    }
}
@media (max-width: 767px){
    .container {
        max-width: 540px;
    }
    .promo {
        // position: relative;
        min-height: 570px;
        &__close {
            position: absolute;
            top: 0;
            left: 92%;
            display: block;
            color: white;
            font-size: 36px;
            cursor: pointer;
            transition: 0.6s all;
            z-index: 11;
        }
        &__wrapper-aside {
            position: fixed;
            top: 0;
            left: -100%;
            width: 50%;
            height: 100vh;
            padding: 30vh 15px 20px 15px;
            background-color: rgba(0,0,0, .9 );
            transition: 0.6s all;
        }
        &__menu {
            align-items: center;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            &_link {
                font-size: 25px;
            }
            &_item {
                border: none;
                margin-bottom: 30px;
            }
        }
        &__title {
            padding-top: 18px;
            font-size: 18px;
        }
        &__maintitle {
            font-size: 40px;
        }
        &__subtitle {
            font-size: 23px;
            padding-bottom: 12px;
        }
        &__divider {
            width: 450px;
            &_dot {
                height: 7px;
            }
        }
        &__items {
            grid-template-columns: repeat(4, 130px);
        }
        &__item {
            &-descr {
                font-size: 11px;
                line-height: 16px;
            }
        }
        &__phone {
            display: grid;
        }
        &__header {
            justify-content: space-around;
        }
        
    }
    .btn-big {
        width: 210px;
        font-size: 14px;

    }
    .active {
        left: 0;
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 33px;
        width: 26px;
        height: 12px;
        cursor: pointer;
            span {
            display: block;
			height: 2px;
			width: 20px;
			background-color: #fff;
			margin-bottom: 2px;
			transition: 0.5s all;
        }
    }
}
@media (max-width: 575px){
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}