.ourwork {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__title {
       padding: 50px 0 20px 0;
    }
    &__subtitle {
        padding: 20px 0 35px 0;
        width: 880px;
        margin: 0 auto;
    }
    &__item {
       width: 360px;
        &-title {
            padding: 18px 0 8px 0;
            text-align: center;
            font-family: Roboto;
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
            color: #ec644b;
        }
        &-descr {
            text-align: justify;
            text-align-last: center;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 300;
            color: #3a3a3a;
            margin-bottom: 50px;
        }
    }
}